.h1 {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
}

.body {
  height: 100vh;
  background-color: #F5F5DC;
}

main {
  background-color: white;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
}

#a {
  background-color: #F5F5DC;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  width: 30vmin;
  height: 45vmin;
  margin-left: 5vmin;
  background-color: grey;
}

.score {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  padding: 0.3vmin;
  height: 2vmin;
  width: 20vmin;
  font-size: 1em;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items:center;
  border: inset;
  text-align: center;
  height: 1.5vmin;
  width: 5vmin;
  margin: auto;
}

#b {
  background-color: #F5F5DC;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vmin;
}

#btop {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bbottom{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2vmin;
  font-style: italic;
}


#discard {
  opacity: 50%;
  background-color: grey;
  height: 216px;
  width: 148px;
}

#c {
  background-color: #F5F5DC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black;
  width: 45vmin;
  height: 57vmin;
  background-color: grey;
  margin-right: 3vmin;
}

.ind {
  font-size: 0.9em;
  display: flex;
  align-items: center;
}

.indacc {
  display: grid;
  grid-template-columns: 9fr 9fr 9fr 9fr 9fr;
  height: 3.8vmin;
  width: 40vmin;
  padding: 0.3vmin;
  margin: 0.25vmin;
  font-size: 0.8em;
  border: 2px solid black;
}

.light {
  padding: 0;
  display: flex;
}

h1{
  margin-bottom: 1vmin;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#card1, #card2, #card3, #card4, #card5, #card6 {
  margin: 0.5vmin;
}

button {
  height: 4vmin;
  margin-top: 0.5vmin;
}

#buttonS {
  margin: 5vmin;
  display: flex;
  justify-content: center;
}
#hint {
  text-align: center;
}

#go {
  margin-top: 1.5vmin
}

footer {
  background-color: #F5F5DC;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.player {
  border: solid black;
  height: 10vmin;
  width: 25vmin;
  margin: 0.2vmin;
}

.plight {
  display: flex;
  align-items: center;
  margin-left: 1vmin;
}

.indN {
  font-size: 1.5vmin;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.lights {
  display: flex;
  align-items: center;
}

#main {
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr;
  background-color: #F5F5DC;
}

#welcome {
  font-weight: bold;
}

.enter-name {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #A9A9A9;
}

.wstyling{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  max-height: 30vmin;
  margin: 10vmin;
}